@import "tailwindcss";

@font-face {
  font-family: Mont;
  src: url("./assets/fonts/fonnts.com-Mont_Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Mont;
  src: url("./assets/fonts/fonnts.com-Mont_Bold.ttf");
  font-weight: 800;
}
@font-face{
  font-family: Mont;
  src: url("./assets/fonts/fonnts.com-Mont_Regular.ttf");
  font-weight: 600;
}
@font-face{
  font-family: Mont;
  src: url("./assets/fonts/fonnts.com-Mont_Thin.ttf");
  font-weight: 200;
}
@font-face{
  font-family: Mont;
  src: url("./assets/fonts/fonnts.com-Mont_Regular.ttf");
  font-weight:500;
}


@theme {

  --color-primary: #3E4C57;
  --font-mont: Mont
}
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  font-family: Mont, monospace;
}

@layer components {
  .container {
    @apply  w-[95%]! mx-auto max-w-[81.8125rem]!
  }
  .button {
    @apply flex items-center justify-center gap-2.5 text-[1rem] text-white bg-[#00036A]  h-14 cursor-pointer
  }
  .navLinks {
    @apply hover:text-[#3e4c57bd] transition-all duration-400
  }
}


@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}
