@import "tailwindcss";

@font-face {
  font-family: Mont;
  src: url("./assets/fonts/Mont-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Mont;
  src: url("./assets/fonts/Mont-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face{
  font-family: Mont;
  src: url("./assets/fonts/Mont-Light.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face{
  font-family: Mont;
  src: url("./assets/fonts/Mont-Regular.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face{
  font-family: Mont;
  src: url("./assets/fonts/Mont-Light.ttf");
  font-weight: 200;
  font-display: swap;
}

@keyframes ZoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes DiagonalUp {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(5px, -5px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes arrowRight {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(5px) scale(1.2);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes lineRight {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(10px, -10px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
.videoPlayer {
  animation: ZoomIn 2s infinite;
}

.diagonalArrow{
  animation: DiagonalUp 2s infinite;
}

.RightArrow{
  animation: arrowRight 2s infinite;
}

.LineRight{
  animation: lineRight 2s infinite;
}
@theme {

  --color-primary: #3E4C57;
  --font-mont: Mont
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  font-family: Mont;
}

@layer components {
  .container {
    @apply  w-[95%]! mx-auto max-w-[81.8125rem]!
  }
  .button {
    @apply flex items-center justify-center gap-2.5 text-[1rem] text-white bg-[#00036A] h-14 cursor-pointer hover:scale-105 transition-transform duration-300;
  }
  .navLinks {
    @apply hover:text-[#3e4c57bd] transition-all duration-300
  }
}


@media (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 16px !important;
  }
}


.sample {
  filter: grayscale(100%);
}

.sample:hover {
  filter: none; 
}